* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-containner {
  display: flex;
  align-items: center;
  height: calc(70px);
  padding-inline: 14px;
  line-height: 81px;
  justify-content: center;
}

.toggle-button {
  height: 30px;
  width: 30px;
  padding: 2px;
  position: absolute;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(239, 242, 247);
  right: -14px;
}
