USE [Contribution_Management]
GO
/****** Object:  Table [dbo].[ContributionHistory]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContributionHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [money] NOT NULL,
	[MemberId] [int] NOT NULL,
	[RevisedDate] [date] NULL,
	[ContributionId] [int] NOT NULL,
 CONSTRAINT [PK_ContributionHistory_HistoryId] PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](56) NULL,
	[ISO3] [varchar](3) NULL,
	[ISO2] [varchar](2) NULL,
	[PhoneCode] [float] NULL,
 CONSTRAINT [PK_Countries_CountryID] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseCategory]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [date] NULL,
 CONSTRAINT [PK_ExpenseCategory_CategoryID] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupDetails]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupDetails](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](150) NULL,
	[Slogan] [varchar](max) NULL,
	[LeaderId] [int] NULL,
	[AssLeaderId] [int] NULL,
	[AccountentId] [int] NULL,
	[EstablishedDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_GroupDetails_GroupId] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberDetails]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberDetails](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[UserName] [varchar](max) NOT NULL,
	[Email] [varchar](62) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[MobileNo] [varchar](20) NOT NULL,
	[AdressLine1] [varchar](95) NULL,
	[AddressLine2] [varchar](95) NULL,
	[City] [varchar](35) NULL,
	[StateID] [int] NULL,
	[CountryID] [int] NULL,
	[IsMarried] [bit] NULL,
	[ProgramID] [int] NULL,
	[QulificationID] [int] NULL,
	[IsPursuing] [bit] NULL,
	[OccupationID] [int] NULL,
	[ProfileImg] [varchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[MemberSince] [date] NULL,
	[GroupID] [int] NULL,
	[ContributionID] [int] NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_MemberDetails_MemberId] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyContribution]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyContribution](
	[ContributionId] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [money] NOT NULL,
	[UpdatedDate] [date] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[MemberId] [int] NOT NULL,
 CONSTRAINT [PK_MonthlyContribution_ContributionId] PRIMARY KEY CLUSTERED 
(
	[ContributionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Occupation]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Occupation](
	[OccupationId] [int] IDENTITY(1,1) NOT NULL,
	[Occupation] [varchar](max) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Occupation_OccupationId] PRIMARY KEY CLUSTERED 
(
	[OccupationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[ProgramId] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [varchar](120) NOT NULL,
	[QualificationID] [int] NULL,
	[CreatedOn] [date] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Programs_ProgramId] PRIMARY KEY CLUSTERED 
(
	[ProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualification]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualification](
	[QualificationID] [int] IDENTITY(1,1) NOT NULL,
	[Qualification] [varchar](max) NOT NULL,
	[CreatedOn] [date] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Qualification_QualificationID] PRIMARY KEY CLUSTERED 
(
	[QualificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [date] NULL,
 CONSTRAINT [PK_Roles_RoleId] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[State] [varchar](30) NULL,
	[StateCode] [varchar](10) NULL,
	[CountryID] [int] NULL,
 CONSTRAINT [PK_States_StateID] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionCategory]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[CreatedOn] [date] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TransactionCategory_CategoryId] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionType]    Script Date: 7/23/2024 5:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[CreatedOn] [date] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TransactionType_TypeId] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [Country], [ISO3], [ISO2], [PhoneCode]) VALUES (1, N'Afghanistan', N'AFG', N'AF', 93)
INSERT [dbo].[Countries] ([CountryID], [Country], [ISO3], [ISO2], [PhoneCode]) VALUES (2, N'Aland Islands', N'ALA', N'AX', 340)
INSERT [dbo].[Countries] ([CountryID], [Country], [ISO3], [ISO2], [PhoneCode]) VALUES (3, N'Albania', N'ALB', N'AL', 355)
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[ExpenseCategory] ON 

INSERT [dbo].[ExpenseCategory] ([CategoryID], [Category], [IsActive], [CreatedOn]) VALUES (1, N'Event', 1, CAST(N'2024-05-10' AS Date))
SET IDENTITY_INSERT [dbo].[ExpenseCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Occupation] ON 

INSERT [dbo].[Occupation] ([OccupationId], [Occupation], [IsActive]) VALUES (1, N'Agarbatti making', 1)
INSERT [dbo].[Occupation] ([OccupationId], [Occupation], [IsActive]) VALUES (2, N'Agriculture', 1)
INSERT [dbo].[Occupation] ([OccupationId], [Occupation], [IsActive]) VALUES (3, N'Agriculture machinery handling', 1)
GO
SET IDENTITY_INSERT [dbo].[Occupation] OFF
GO
SET IDENTITY_INSERT [dbo].[Programs] ON 

INSERT [dbo].[Programs] ([ProgramId], [ProgramName], [QualificationID], [CreatedOn], [IsActive]) VALUES (1, N'Bachelor of Architecture - B.Arch', 2, CAST(N'2024-05-10' AS Date), 1)
INSERT [dbo].[Programs] ([ProgramId], [ProgramName], [QualificationID], [CreatedOn], [IsActive]) VALUES (2, N'Bachelor of Arts - B.A.', 2, CAST(N'2024-05-10' AS Date), 1)
INSERT [dbo].[Programs] ([ProgramId], [ProgramName], [QualificationID], [CreatedOn], [IsActive]) VALUES (3, N'Bachelor of Ayurvedic Medicine & Surgery - B.A.M.S.', 2, CAST(N'2024-05-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Programs] OFF
GO
SET IDENTITY_INSERT [dbo].[Qualification] ON 

INSERT [dbo].[Qualification] ([QualificationID], [Qualification], [CreatedOn], [IsActive]) VALUES (1, N'High School', CAST(N'2024-05-10' AS Date), 1)
INSERT [dbo].[Qualification] ([QualificationID], [Qualification], [CreatedOn], [IsActive]) VALUES (2, N'Bachelor''s Degree', CAST(N'2024-05-10' AS Date), 1)
INSERT [dbo].[Qualification] ([QualificationID], [Qualification], [CreatedOn], [IsActive]) VALUES (3, N'Master''s Degree', CAST(N'2024-05-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Qualification] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Role], [IsActive], [CreatedOn]) VALUES (1, N'Admin', 1, CAST(N'2024-05-10' AS Date))
INSERT [dbo].[Roles] ([RoleId], [Role], [IsActive], [CreatedOn]) VALUES (2, N'Member', 1, CAST(N'2024-05-10' AS Date))
INSERT [dbo].[Roles] ([RoleId], [Role], [IsActive], [CreatedOn]) VALUES (3, N'Leader', 1, CAST(N'2024-05-10' AS Date))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([StateID], [State], [StateCode], [CountryID]) VALUES (1, N'Meghalaya', N'ML', 101)
INSERT [dbo].[States] ([StateID], [State], [StateCode], [CountryID]) VALUES (2, N'Haryana', N'HR', 101)
INSERT [dbo].[States] ([StateID], [State], [StateCode], [CountryID]) VALUES (3, N'Maharashtra', N'MH', 101)
SET IDENTITY_INSERT [dbo].[States] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionCategory] ON 

INSERT [dbo].[TransactionCategory] ([CategoryId], [Category], [CreatedOn], [IsActive]) VALUES (1, N'Monthly Contribution', CAST(N'2024-05-10' AS Date), 1)
INSERT [dbo].[TransactionCategory] ([CategoryId], [Category], [CreatedOn], [IsActive]) VALUES (2, N'Event Contribution', CAST(N'2024-05-10' AS Date), 1)
INSERT [dbo].[TransactionCategory] ([CategoryId], [Category], [CreatedOn], [IsActive]) VALUES (3, N'Donation', CAST(N'2024-05-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[TransactionCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionType] ON 

INSERT [dbo].[TransactionType] ([TypeId], [Type], [CreatedOn], [IsActive]) VALUES (1, N'Income', CAST(N'2024-05-10' AS Date), 1)
INSERT [dbo].[TransactionType] ([TypeId], [Type], [CreatedOn], [IsActive]) VALUES (2, N'Expense', CAST(N'2024-05-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[TransactionType] OFF
GO
ALTER TABLE [dbo].[ContributionHistory] ADD  DEFAULT (getdate()) FOR [RevisedDate]
GO
ALTER TABLE [dbo].[ExpenseCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExpenseCategory] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[GroupDetails] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GroupDetails] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[MemberDetails] ADD  CONSTRAINT [DF__MemberDet__IsAct__70DDC3D8]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MemberDetails] ADD  CONSTRAINT [DF__MemberDet__IsDel__71D1E811]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[MonthlyContribution] ADD  CONSTRAINT [DF_MonthlyContribution_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[MonthlyContribution] ADD  CONSTRAINT [DF_MonthlyContribution_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Occupation] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Programs] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Programs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Qualification] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Qualification] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TransactionCategory] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TransactionCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TransactionType] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TransactionType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ContributionHistory]  WITH CHECK ADD  CONSTRAINT [FK__Contribut__Contr__49C3F6B7] FOREIGN KEY([ContributionId])
REFERENCES [dbo].[MonthlyContribution] ([ContributionId])
GO
ALTER TABLE [dbo].[ContributionHistory] CHECK CONSTRAINT [FK__Contribut__Contr__49C3F6B7]
GO
ALTER TABLE [dbo].[MemberDetails]  WITH CHECK ADD  CONSTRAINT [FK__MemberDet__Group__72C60C4A] FOREIGN KEY([GroupID])
REFERENCES [dbo].[GroupDetails] ([GroupId])
GO
ALTER TABLE [dbo].[MemberDetails] CHECK CONSTRAINT [FK__MemberDet__Group__72C60C4A]
GO
ALTER TABLE [dbo].[MemberDetails]  WITH CHECK ADD  CONSTRAINT [FK_MemberDetails_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[MemberDetails] CHECK CONSTRAINT [FK_MemberDetails_Countries]
GO
ALTER TABLE [dbo].[MemberDetails]  WITH CHECK ADD  CONSTRAINT [FK_MemberDetails_MemberDetails] FOREIGN KEY([ContributionID])
REFERENCES [dbo].[MonthlyContribution] ([ContributionId])
GO
ALTER TABLE [dbo].[MemberDetails] CHECK CONSTRAINT [FK_MemberDetails_MemberDetails]
GO
ALTER TABLE [dbo].[MemberDetails]  WITH CHECK ADD  CONSTRAINT [FK_MemberDetails_Occupation] FOREIGN KEY([OccupationID])
REFERENCES [dbo].[Occupation] ([OccupationId])
GO
ALTER TABLE [dbo].[MemberDetails] CHECK CONSTRAINT [FK_MemberDetails_Occupation]
GO
ALTER TABLE [dbo].[MemberDetails]  WITH CHECK ADD  CONSTRAINT [FK_MemberDetails_Programs] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[Programs] ([ProgramId])
GO
ALTER TABLE [dbo].[MemberDetails] CHECK CONSTRAINT [FK_MemberDetails_Programs]
GO
ALTER TABLE [dbo].[MemberDetails]  WITH CHECK ADD  CONSTRAINT [FK_MemberDetails_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[MemberDetails] CHECK CONSTRAINT [FK_MemberDetails_Roles]
GO
ALTER TABLE [dbo].[Programs]  WITH CHECK ADD FOREIGN KEY([QualificationID])
REFERENCES [dbo].[Qualification] ([QualificationID])
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_States_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_States_Countries]
GO
